<div class="row">
    <h2>Intro</h2>
    <hr>
    <div class="col-sm-12" text-angular ta-toolbar="vm.toolbarEditor" ng-model="vm.pages[2].content"></div>
    <div class="col-sm-12">
        <br>
        <button class="btn btn-success" ng-click="vm.save(2)">Save</button>
    </div>
</div>
<br>
<div class="row">
    <h2>About</h2>
    <hr>
    <div class="col-lg-12" text-angular ta-toolbar="vm.toolbarEditor" ng-model="vm.pages[1].content"></div>
    <div class="col-sm-12">
        <br>
        <button class="btn btn-success" ng-click="vm.save(1)">Save</button>
    </div>
</div>
<br>
<div class="row">
    <h2>Facts</h2>
    <hr>
    <div class="col-lg-12" text-angular ta-toolbar="vm.toolbarEditor" ng-model="vm.pages[0].content"></div>
    <div class="col-sm-12">
        <br>
        <button class="btn btn-success" ng-click="vm.save(0)">Save</button>
    </div>
</div>
