<nav ng-class="{'navbar-solid': !$state.is('main.home'), 'site-nav': $state.is('main.home')}"
     class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" ui-sref="main.home">

                    <!-- logo image  -->
                    <img src="dist/img/logo.png" alt="Logo">

                    ANGULAR SUMMIT 2017
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <li ui-sref-active="active"><a ui-sref="main.home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="main.about">About</a></li>
                <li ui-sref-active="active"><a ui-sref="main.speakers">Speakers</a></li>
                <li ui-sref-active="active"><a ui-sref="main.schedule">Schedule</a></li>
                <li ui-sref-active="active"><a ui-sref="main.partner">Partner</a></li>
                <li ui-sref-active="active"><a ui-sref="main.register">Registration</a></li>
                <li ui-sref-active="active"><a ui-sref="auth">Login</a></li>

            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<ui-view></ui-view>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left">
                <span class="footer-logo">
                    <img src="https://cosmicjs.com/images/logo.svg" width="28" height="28"> Proudly powered by Cosmic JS
                </span>
            </div>
            <div class="col-lg-4 text-center">
                <span class="">Copyright <i class="fa fa-copyright"></i> Conference App 2017.</span>
            </div>
        </div>
    </div>
</footer>